* {
  padding: 0px;
  margin: 0px;
  width: 1300px;
}
body {
  text-align: center;
}


/*header*/
header {
  background-color: #c6fa95;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #96b677;
  max-height: 5em;
  width: 100%;
}

#titulo {
  display: flex;
  flex-direction: row;
  color: rgb(132, 0, 255);
  align-items: center;
  justify-content: center;
}
#titulo h1 {
  font-size: 2.5em;
  font-family: arial;
  width: 30%;
  background-color: rgb(34, 255, 0);
  border-radius: 10px;
  border: 0.5px solid #96b677;
}
#titulo pre {
  text-align: center;
  padding: 10px;
  margin: 4px;
  font-size: 2em;
  width: 70%;
}







/*parrafo*/
#parrafo {
  font-size: 15px;
  color: rgb(6, 87, 6);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: start;
}





/*footer*/
footer {
  background-color: rgba(187, 255, 0, 0.644);
  color: rgb(253, 0, 0);
  font-size: 1.5em;
  text-align: start;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
footer p {
  padding-left: 30px;
}
footer p:hover {
  width: 300px;
  background-color: rgb(79, 83, 79);
  color: rgb(6, 223, 35);
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
}
